/*
  DM Sans
  400 - Regular
  500 - Medium
  700 - Bold
*/

/*
  Oswald
  400 - Regular
  700 - Bold
*/

$text-regular: 400;
$text-medium: 500;
$text-bold: 700;

$heading-regular: 400;
$heading-bold: 700;
