@import "./abstracts/mixins";

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: scale(0.99);
  transition: box-shadow 200ms, transform 200ms;

  &:hover {
    transform: scale(1);
    box-shadow: 0px 0px 5px 5px #e0dede;
  }

  .copy {
    padding: 1rem;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .small {
        font-size: 12px;
      }
    }

    .center {
      flex-basis: 75%;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      margin: 1rem 0;

      .name {
        font-size: 30px;
        // flex-basis: 100%;

        @include respond(tab-sm) {
          font-size: 22px;
        }
        @include respond(desktop) {
          font-size: 30px;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tag {
        font-size: 10px;
        border: 1px solid #000000;
        padding: 0.4em 0.7em;
        border-radius: 10px;
      }
    }
  }
}
