@import "../styles/abstracts/mixins";

.nav {
  background-color: #000000;
  color: #ffffff;

  .container {
    // @include container(desktop, 1rem, 0);
    @include container(desktop, 1rem, 1rem);
    display: flex;
    flex-direction: column;

    & > :last-child {
      visibility: hidden;
    }

    @include respond(desktop) {
      // @include container(desktop, 1rem, 1rem);
      flex-direction: row;
      justify-content: space-between;

      & > :last-child {
        visibility: visible;
      }
    }
  }

  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(desktop) {
      & > :nth-child(2) {
        visibility: hidden;
      }
    }
  }

  .copy {
    margin-top: 2rem;
    @include respond(tab-sm) {
      width: 80%;
    }
    @include respond(tab-lg) {
      width: 60%;
    }
    @include respond(desktop) {
      margin-top: 0;
      text-align: center;
    }
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 30px;
    @include respond(tab-lg) {
      font-size: 36px;
    }
    @include respond(desktop) {
      font-size: 46px;
    }
  }

  .text {
  }
}
