@import "./abstracts/mixins";
@import "./abstracts/variables";

.container {
  font-size: 16px;
  @include container(tab-lg, 1rem, 1rem);

  @include respond(desktop) {
    font-size: 18px;
  }

  .list {
    margin: 1rem 0 1rem 1.25rem;

    li > * {
      padding: 0.25rem 0;
    }

    li > *::before {
      content: "...";
      opacity: 0;
    }

    li::marker {
      font-weight: $text-bold;
    }
  }

  .hr {
    margin: 2rem 0;
  }
}
