@import "./abstracts/mixins";

.selected {
  background-color: #0000000a;

  .text {
    text-align: center;
    padding: 2rem;
    font-size: 20px;

    @include respond(desktop) {
      font-size: 30px;
    }
  }
}
